@import "tailwindcss";

.hide {
  display: none;
}

/* h1, 
h2, 
h3 {
    @apply text-slate-800 font-bold;
} */

p {
  @apply text-slate-600;
  line-height: 1.7;
  /* font-size: 18px; */
}

.input-group-error {
  padding: 2px;
  background-color: rgb(241, 29, 50);
  border-radius: 5px;
}

.submit-button-error {
  color: rgb(241, 29, 50);
  background-color: white;
  border: 2px solid rgb(241, 29, 50);
}

@media (max-width: 320px) {
  p {
    font-size: 14px;
  }
}
